site_name: Nellie
site_description: Automated organelle segmentation, tracking, and hierarchical feature extraction in 2D/3D live-cell microscopy
site_url: https://github.com/aelefebv/nellie

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - toc.follow
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [.]
      

nav:
  - Home: index.md
  - API Reference: api.md
