annotated-types==0.6.0
click==8.1.7
cloudpickle==3.0.0
dask==2024.3.1
fsspec==2024.3.0
imageio==2.34.0
lazy_loader==0.3
locket==1.0.0
nd2==0.9.0
networkx==3.2.1
numpy==1.26.4
ome-types==0.5.0
packaging==24.0
pandas==2.2.1
partd==1.4.1
pillow==10.2.0
pydantic==2.6.4
pydantic-compat==0.1.2
pydantic_core==2.16.3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
resource-backed-dask-array==0.1.0
scikit-image==0.22.0
scipy==1.12.0
six==1.16.0
tifffile==2024.2.12
toolz==0.12.1
typing_extensions==4.10.0
tzdata==2024.1
xsdata==24.3.1
